---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Our Research | CyberStrike"
	description="Explore CyberStrike's research and expertise in vulnerability assessment and capability development. Our team specializes in embedded vulnerability research, application security, and website security. Discover our innovative solutions and learn how we can help secure your digital assets against potential threats."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Our Research"
				tagline="See our recent research projects below to get an impression of our work habits."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
